html{
    margin: 0;
    border: 0;
    padding: 0;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
}
.content__width {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.reversed__row {
    flex-direction: row-reverse;
}
.full__col {
    width: 100%;
}
.quarter__col3 {
    width: 75%;
}
.third__col2 {
    width: 66.666%;
}
.half__col {
    width: 50%;
}
.third__col {
    width: 33.333%;
}
.quarter__col {
    width: 25%;
}
.fifth__col {
    width: 20%;
}

@media screen and (max-width: 1024px){
    .content__width {
        justify-content: center;
    }
    .quarter__col, .fifth__col {
        width: 50%;
    }
}
@media screen and (max-width: 800px){
    .content__width {
        justify-content: center;
    }
    .quarter__col3 {
        width: 100%;
    }
    .third__col2 {
        width: 100%;
    }
    .third__col {
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    .content__width{
        flex-direction: column;
        justify-content: center;
    }
    .half__col, .third__col, .quarter__col, .fifth__col {
        width: 100%;
        padding: 0 !important;
    }
}